.container {
  margin: 20px;
  width: fit-content;
  height: fit-content;
}

.name {
  font-weight: lighter;
  font-family: "Montserrat";
  text-transform: uppercase;
  box-shadow: #ffffff 5px 5px;
}

.darkMode {
  color: #ffffff;
  background-color: #202020;
}

.lightMode {
  color: #202020;
  background-color: #fcd535;
}

.smallSize {
  padding: 5px 10px;
  font-size: 20px;
}

.averageSize {
  padding: 10px 20px;
  font-size: 40px;
}

.bigSize {
  padding: 20px 40px;
  font-size: 70px;
}
